<div class="p-4">
 <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
        <div>
          <h1 class="h4 mb-1">Employees</h1>
          <p class="mb-0">All Employees are displayed here</p>
        </div>

        <div class="mt-3 mt-md-0 d-flex gap-2">
          <a class="btn btn-sm btn-primary" routerLink="/addemployees">Add Employees</a>
        </div>
      </div>
  <div *ngIf="loading(); else loaded">
    <p>Loading employees...</p>
  </div>

  <ng-template #loaded>
    <div *ngIf="error(); else tableTemplate">
      <p class="text-red-600">{{ error() }}</p>
    </div>
  </ng-template>
  <ng-template #tableTemplate>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>ID</th>
          <th>Full Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees() ; let i = index; trackBy: trackById">
          <td>{{ emp.id }}</td>
          <td>{{ i }}</td>
          <td>{{ emp.fullName }}</td>
          <td>{{ emp.position }}</td>
          <td>{{ emp.department?.name ?? 'No department' }}</td>
          <td class="text-start">
                <a class="btn btn-sm  btn-warning" routerLink="/editemployees/{{emp.id}}">Edit</a>
                <button class="ms-2 btn btn-sm btn-danger" (click)="openDelete(emp.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>

<delete-employee
  [open]="deleteOpen"
  [employeeId]="deleteId"
  (closed)="deleteOpen = false"
  (deleted)="onEmployeeDeleted($event)">
</delete-employee>